<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload LED Text File</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Upload LED Text File</h1>
        </header>
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Upload">
        </form>
    </div>
</body>
</html>
